@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@import "../node_modules/preline/variants.css";

@theme {
  --color-obito-black: #0a0723;
  --color-obito-green: #2f6a62;
  --color-obito-grey: #eaecee;
  --color-obito-text-grey: #87898c;
  --color-obito-light-green: #e0eae8;
  --color-obito-light-red: #ffe3e1;
  --color-obito-text-secondary: #6a6f7c;
  --color-obito-background: #f8faf9;

  --font-sans: Poppins, sans-serif;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer theme {
  body {
    background-color: #f8faf9;
  }
}

@keyframes expand {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(50);
    opacity: 0.5;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}
.expand-circle {
  position: absolute;
  border-radius: 9999px;
  animation: expand 4s ease-out forwards;
}
.circle-1 {
  width: 6rem;
  height: 6rem;
  background-color: oklch(37.9% 0.146 265.522);
  animation-delay: 0s;
}
.circle-2 {
  width: 6rem;
  height: 6rem;
  background-color: oklch(42.4% 0.199 265.638);
  animation-delay: 0.5s;
}
.circle-3 {
  width: 6rem;
  height: 6rem;
  background-color: oklch(48.8% 0.243 264.376);
  animation-delay: 1s;
}
